<%= link_to "Home", landing_path %>
<br>
<%= link_to "Seed Bank", seedbank_path %>
<br>
<%= link_to "Reading Rainbow", reading_rainbow_path %>




<h1>Here are Some Fun Activities!</h1>
   
<h3>Activities at the Libraries are fun and free to participate in. Everything from puzzles and coloring to tablet rentals and movies are available for any child with a library card. Once you select a library card you then have the option to even have fun at home when you download app that your local library is connected to and you can enjoy the fun of books at home without having to bring so many back with you!</h3>