<%= link_to "Activities", activities_path %> <br>
<%= link_to "Seed Bank", seedbank_path %>
<br>
<%= link_to "Reading Rainbow", reading_rainbow_path %>
<br>
<br>
<br>
<h1>Fun at the Library!</h1>

<h3>This is a small business where we try to reintroduce children to libraries and all the fun that can be had here!
Normally the library is a quiet place and having fun is something that is loud! What we try to establish here are the options that your local library offers to you and your family, for free, in an easy to navigate directory. Please click on the following pages to find out what Activities are available, what the Seed Bank has to offer and when to join us for a session of Reading Rainbow!</h3>
