<%= link_to "Home", landing_path %>
<br>
<%= link_to "Activities", activities_path %> <br>
<%= link_to "Seed Bank", seedbank_path %>
<br>
<br>
<br>
<br>
<h1>Come Learn to Read With All Your Friends!</h1>

<h3>Reading Rainbow was a TV show that taught children how to read and certain libraries have found a way to enact that same environment for you and your children. Join us on Wednesday and Saturdays between 12 - 3 PM at various places across the country to read a new book with a group of friends! Every week there is the start of a new book and for those who enjoy longer series, we have weekly book clubs continuing off reading the book of the month! Let all learn the joy of reading together!</h3>
