<%= link_to "Home", landing_path %>
<br>
<%= link_to "Activities", activities_path %> <br>
<%= link_to "Reading Rainbow", reading_rainbow_path %>
<br>
<br>
<br>
<br>
<h1>Welcome to the Seed Library!</h1>

<h3>The Seed Bank is a federally funded opportunity to get your children into gardening. With classes that teach about how to start a garden, no matter how small of a home you live in, there is even the option to hand select seeds for you and your child to plant at the appropriate time of year to have a hobby that lasts all spring, summer and fall long. The seeds are local to you city and state and make for lovely flower and even vegetable gardens that everyone can truly enjoy and benefit from!</h3>

